<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments applyToWebDAV="true">
          <remove segment="data" />
          <add segment="data" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
