---
import { getCollection, type CollectionEntry } from 'astro:content';
import BlogPostList from '../components/BlogPostList.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

type BlogPost = CollectionEntry<'blog'>;

const posts = await getCollection('blog');
posts.sort((a: BlogPost, b: BlogPost) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---
<style>
  body {
    max-width: 720px;
    margin: auto;
  }
</style>

<BaseLayout title="さこちゃねる">
  <p>なんと令和にさこちゃねるが復活！</p>
  <BlogPostList posts={posts} />
</BaseLayout>
