---

---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>さこちゃねる</title>
  </head>
  <body>
    <h1>さこちゃねる</h1>
    <p>なんと令和にさこちゃねるが復活！</p>
  </body>
</html>
